.header {
  gap: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__title {
}
.header__title.error{
  color: red;
}
.header__title.success{
  color: green;
}

.header__restart-button {
  padding: 5px 20px;
  cursor: pointer;
}
.header__restart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
