.container {
  position: relative;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  border: 1px solid black;
  margin-top: 1rem;
}
.point {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px salmon solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

